<h4>If anyone in your household participates in the assistance programs listed below, your children are eligible for free school meals:	</h4>
<ul>
    <li>The Supplemental Nutrition Assistance Program (SNAP) </li>
    <li>Temporary Assistance for Needy Families (TANF) </li>
    <li>The Food Distribution Program on Indian Reservations (FDPIR)</li>
</ul>
<div id="content">
    <h4>IF NO ONE IN YOUR HOUSEHOLD PARTICIPATES IN ANY OF THE ABOVE LISTED PROGRAMS: </h4>
    <p>select ‘NO’ and click next step button</p>
    <h4>IF ANYONE IN YOUR HOUSEHOLD PARTICIPATES IN ANY OF THE ABOVE LISTED PROGRAMS:</h4>
    <p> Mark ‘YES’ and provide a case number for SNAP, TANF, or FDPIR.You only need to write one case number. Then click next step button. If you
        <br>participate in one of these programs and do not know your case number, contact: [ Your state/local agency contacts ].</p>
    <span class="warn"> Note </span>
    <p id="warntip">You must provide a case number on your application if you Mark “YES”.</p>

</div>