<p><b>Who should I list here?</b></p>
<ul style=" padding:15px;">
    <li>
        When filling out this section, please include <b>all </b>members in your household who are:
        <ul style=" padding:15px;">
            <li>Living with you and share income and expenses, even if not related and even if they do not receive income of their own.
            </li>
        </ul>
    </li>
    <li>
        Do <b> not</b> include people who:
        <ul style=" padding:15px;">
            <li>Live with you but are not supported by your household’s income<b>and</b> and do not contribute income to your household.
            </li>
            <li>Children and students already listed in Step 1.
            </li>
        </ul>
    </li>
</ul>
<h3> How do I fill in the income amount and source? </h3>
<p><b> FOR EACH TYPE OF INCOME:</b></p>
<ul style=" padding:15px;">

    <li>Use the charts in this section to determine if your household has income to report.
    </li>
    <li>Report all amounts in <b>gross income</b> ONLY. Report all income in whole dollars. Do not include cents.
        <ul style=" padding:15px;">
            <li>Gross income is the total income received before taxes or deductions. </li>
            <li> Many people think of income as the amount they “take home” and not the total, “gross” amount. Make sure that the income you report on this application has NOT
                <br> been reduced to pay for taxes, insurance premiums, or any other amounts taken from your pay.</li>
        </ul>
    </li>
    <li>
        Write a “0” in any fields where there is no income to report. Any income fields left empty or blank will be counted as zeroes. If you write ‘0’ or leave any fields blank,
        <br> you are certifying (promising) that there is no income to report. If local officials have known or available information that your household income was reported incorrectly,
        <br> your application will be verified for cause.
    </li>
    <li>
        Mark how often each type of income is received using the check boxes to the right of each field.
    </li>
</ul>
<p style="width:1300px;"><b>B)List Adult Household member’s name.</b> Print the name of each household member in the boxes marked “Names of Adult Household Members (First and Last).”<b> Do not list any household members you listed in STEP 1.</b> If a child listed in STEP 1 has income, follow the instructions in STEP 3, part A.
</p>
<p><b>C)Report earnings from work.</b> Refer to the chart titled “Sources of Income for Adults” in these instructions and report all income from work in the “Earnings from Work” field
    <br> on the application. This is usually the money received from working at jobs. If you are a self-employed business or farm owner, you will report your net income.</p>
<p><span style="color:red;"><b><i>What if I am self-employed?</i></b></span> If you are self-employed, report income from that work as a net amount. This is calculated by subtracting the total operating expenses of your
    <br> business from its gross receipts or revenue.
</p>
<h4>Earnings from Work:</h4>
<ul style=" padding:15px;">
    <li>Salary, wages, cash bonuses</li>
    <li>Net income from self-employment (farm or business)</li>
    <li>Strike benefits</li>
</ul>
<h4>If you are in the U.S. Military:</h4>
<ul style=" padding:15px;">
    <li>Basic pay and cash bonuses (do NOT include combat pay, FSSA or privatized housing allowances)</li>
    <li>Allowances for off-base housing, food, and clothing</li>
</ul>