<h4 style="margin-start: 0;
margin-end: 0; ">
                 What is Child Income?
                </h4>
<p id="childIncome" name="childIncome" style="margin-start: 0;
margin-end: 0; margin-top:-20px;">
    Child income is money received from outside your household that is paid directly to your children. Many households do not have any child income. Use the chart below
    <br>to determine if your household
</p>
<h4 id="sources" name="sources">Sources of Income for Children</h4>
<ul style=" padding:15px;">
    <li><b> Earnings from work:</b> A child has a job where they earn a salary or wages.</li>
    <li><b> Social Security:</b>
        <ul style=" padding:15px;">
            <li>
                <b> <i>Disability Payments:</i></b>A child is blind or disabled and receives Social Security benefits.
            </li>
            <li>
                <b><i>Survivor’s Benefits:</i> </b> A parent is disabled, retired, or deceased, and their child receives social security benefits.
            </li>

        </ul>
    </li>
    <li>
        <b>Income from persons outside the household:</b>A friend or extended family member regularly gives a child spending money.
    </li>
    <li>
        <b>Income from any other source: </b>A child receives income from a private pension fund, annuity, or trust.
    </li>
</ul>