<h4>FOR EACH ADULT HOUSEHOLD MEMBER:</h4>

<p style="width:1300px;"><b>D)Report income from Public Assistance/Child Support/Alimony.</b> report all income that applies in the “Public Assistance/Child Support/Alimony” field on the application. Do not report the value of any cash value public assistance benefits NOT listed on the chart. If income is received from child support or alimony, only court-ordered payments should be reported here. Informal but regular payments should be reported as “other” income in the next part.
</p>
<h4>Public Assistance/Alimony/Child Support</h4>
<ul style=" padding:15px;">
    <li>Unemployment benefits</li>
    <li>Worker’s compensation</li>
    <li>Supplemental Security Income (SSI)</li>
    <li>Cash assistance from State or local government</li>
    <li>Alimony payments</li>
    <li>Child support payments</li>
    <li>Veteran’s benefits</li>
</ul>