<p style="width:1300px;">
    <b>E)  Report income from Pensions/Retirement/All other income. </b>report all income that applies in the “Pensions/Retirement/All Other Income” field on the application. </p>
<h4>Pensions/Retirement/All Other Income</h4>
<ul style=" padding:15px;">
    <li>Social Security (including railroad retirement and black lung benefits)</li>
    <li>Private Pensions or disability</li>
    <li>Income from trusts or estates</li>
    <li>Annuities</li>
    <li>Investment income</li>
    <li>Earned interest</li>
    <li>Rental income</li>
    <li>Regular cash payments from outside household</li>
</ul>