<div class="tips">
    <span id="usefultip"> useful tips!!  </span>
    <p style="padding-left:10px;"><span> <b>A)  Report all income earned by children.</b></span>Refer to the chart titled “Sources of Income for Children” in these instructions and report the combined gross income for ALL children listed
        <br> in<b> Step 1</b> in your household in the box marked “Total Child Income.” Only count foster children’s income if you are applying for them together with the rest of your household. It is
        <br> optional for the household to list foster children living with them as part of the household.</p>
    <div layout="column" ng-cloak>
        <md-content flex layout-padding>
            <div child-income></div>
            <div child-support></div>
            <div other-income></div>
            <p><b>F) Report total household size.</b> Enter the total number of household members in the field “Total Household Members (Children and Adults).” This number MUST be equal to
                <br> the number of household members listed in STEP 1 and STEP 3. If there are any members of your household that you have not listed on the application, go back and
                <br>add them. It is very important to list all household members, as the size of your household determines your income cutoff for free and reduced price meals. </p>
            <p><b>G) Provide the last four digits of your Social Security Number.</b> The household’s primary wage earner or another adult household member must enter the last four digits of their
                <br> Social Security Number in the space provided. You are eligible to apply for benefits even if you do not have a Social Security Number. If no adult household members have
                <br>a Social Security Number, leave this space blank and mark the box to the right labeled “Check if no SS#.”
            </p>

        </md-content>
    </div>
</div>