<p style="padding-left:5px; font:italic 20px Serif; background:yellow; border-redius:8px;">
    Tell us how many infants, children, and school students live in your household. They <b>do NOT</b> have to be related to you to be a part of your household.
</p>
<p style="padding:5px;">Denition of<span> <b>Household Member:</b> </span>“Anyone who is living with you and shares income and expenses, even if not related.” </p>
<p style="padding:5px;">Children in Foster care and children who meet the denition of Homeless, Migrant or Runaway are eligible for free meals. </p>
<h4>Who should I list here?</h4>
<p style="padding-left:10px; margin-top:-5px;">When filling out this section, please include all members in your household who are: </p>
<ul>
    <li>Children age 18 or under and are supported with the household’s income. </li>
    <li>In your care under a foster arrangement, or qualify as homeless, migrant, or runaway youth.</li>
    <li>Students attending [school/school system here], regardless of age.</li>
</ul>
<ol type="I">
    <li>
        <p><b>List each child’s name.</b> For each child, print their first name, middle initial and last name. Use one line of the application for each child. When printing names, write
            <br>one letter in each box. Stop if you run out of space. If there are more children present than lines on the application, attach a second piece of paper with all required
            <br> information for the additional children.</p>
    </li>
    <li>
        <p><b>Is the child a student at [name of school/school system here]? </b>Mark ‘Yes’ or ‘No’ under the column titled “Student” to tell us which children attend.</p>
    </li>
    <li>
        <p> <b>Do you have any foster children?</b>If any children listed are foster children, mark the “Foster Child” box next to the child’s name. Foster children who live with you
            <br>may count as members of your household and should be listed on your application. </p>
    </li>
    <li>
        <p> <b>Are any children homeless, migrant, or runaway?</b> If you believe any child listed in this section may meet this description, please mark the “Homeless, Migrant,
            <br> Runaway” box next to the child’s name and complete all steps of the application.</p>
    </li>
</ol>